<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Bar ANY>
<!ATTLIST Bar id ID #REQUIRED>
<!ELEMENT Drink ANY>
<!ATTLIST Drink id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-26T11:58:34" updateDate="2014-05-26T11:58:34" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1056" creatorName="Per Ploug" writerName="Per Ploug" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Txt: A responsive starter kit for Umbraco]]></title>
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerLink>1054</bannerLink>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <siteName><![CDATA[Umbraco Txt]]></siteName>
    <byline><![CDATA[A responsive starter kit for Umbraco]]></byline>
    <copyright><![CDATA[Umbraco]]></copyright>
    <umbTextPage id="1072" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2014-05-26T11:58:34" updateDate="2014-05-26T11:58:34" nodeName="About" urlName="about" path="-1,1068,1072" isDoc="" nodeType="1059" creatorName="Per Ploug" writerName="Per Ploug" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>The Txt Starter Kit gives you a small website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>Now that you know what the Txt Starter Kit is, it is time to get started using Umbraco.</p>]]></bodyText>
    </umbTextPage>
    <Bar id="1096" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2014-05-26T13:59:03" updateDate="2014-05-26T13:59:03" nodeName="Drinks" urlName="drinks" path="-1,1068,1096" isDoc="" nodeType="1093" creatorName="Per Ploug" writerName="Per Ploug" writerID="0" template="1092" nodeTypeAlias="Bar">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Drink id="1097" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2014-05-26T14:00:45" updateDate="2014-06-04T12:49:31" nodeName="Negroni" urlName="negroni" path="-1,1068,1096,1097" isDoc="" nodeType="1095" creatorName="Per Ploug" writerName="Per Ploug" writerID="0" template="1094" nodeTypeAlias="Drink">
        <umbracoNaviHide>0</umbracoNaviHide>
        <picture>1099</picture>
        <description><![CDATA[The Negroni cocktail is made of one part gin, one part vermouth rosso (red, semi-sweet), and one part Campari, garnished with orange peel. It is considered an apéritif.]]></description>
        <howToPrepare><![CDATA[<p>Pour gin, vermouth, and Campari into a chilled Old Fashioned glass over ice; garnish with a slice of orange.</p>]]></howToPrepare>
      </Drink>
      <Drink id="1098" parentID="1096" level="3" creatorID="0" sortOrder="1" createDate="2014-05-26T14:01:44" updateDate="2014-05-28T12:09:35" nodeName="Americano" urlName="americano" path="-1,1068,1096,1098" isDoc="" nodeType="1095" creatorName="Per Ploug" writerName="Per Ploug" writerID="0" template="1094" nodeTypeAlias="Drink">
        <umbracoNaviHide>0</umbracoNaviHide>
        <picture>1100</picture>
        <description><![CDATA[The Americano is an IBA Official Cocktail composed of Campari, sweet vermouth, and club soda. The cocktail was first served in creator Gaspare Campari's bar, Caffè Campari, in the 1860s. It was originally known as the "Milano-Torino".]]></description>
        <howToPrepare><![CDATA[<p><span>Build campari and sweet vermouth in highball glass and fill with seltzer water. Garnish with a twist of lemon.</span><span><br /><br /></span></p>]]></howToPrepare>
      </Drink>
    </Bar>
  </umbHomePage>
</root>